<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DXThemeManager" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ApexCOINESB.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ApexCOINESB.Properties.Settings.ApexVECConnectionString"
            connectionString="Data Source=VE-EVT-APEX2K12;Initial Catalog=Apex;Persist Security Info=True;User ID=ApexProg;Password=&lt;password&gt;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="COINSInterfaceBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="COINSInterfaceBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://valley.coinscloud.com/cgi-bin/live.cgi/wouesb.p?service=POESB001&amp;namespace=false"
                binding="basicHttpBinding" bindingConfiguration="COINSInterfaceBinding"
                contract="COINSESBService.COINSInterfacePort" name="COINSInterface" />
        </client>
    </system.serviceModel>
    <userSettings>
        <DXThemeManager>
            <setting name="ApplicationThemeName" serializeAs="String">
                <value>DeepBlue</value>
            </setting>
        </DXThemeManager>
    </userSettings>
    <applicationSettings>
        <ApexCOINESB.Properties.Settings>
            <setting name="POAmendDirectory" serializeAs="String">
                <value>\\ve-evt-fs1\Accounting\PO_Amend</value>
            </setting>
        </ApexCOINESB.Properties.Settings>
    </applicationSettings>
</configuration>